{% extends "base.html" %}
{% block content %}


            
	 <div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Hello {{username}}</h1>
        
        <p>These are your albums, {{username}}</p>
     <!--  <p><a href="search_the_folder.html" class="btn btn-primary btn-lg" role="button">Search the folder &raquo;</a></p> -->
     </p>
     {%for al in album_list%}
     
     	<div class=\"col-sm-6 col-md-3\">
     	<li><a id={{"album_"~al[0]~"_link"}} href="{{url_for('album.album_route',albumid=al[0])}}">{{al[1]}}</a></li>
     	{% if edit %}
      	
        <form method=post  action="{{url_for('albums.albums_edit_route')}}" method="POST" enctype=multipart/form-data>
        <a id ={{"album_edit_"~al[0]~"_link"}} href="{{url_for('album.album_edit_route',albumid=al[0])}}"  class="btn btn-warning btn-sm" role="button">Edit»</a>
      	<input id ={{"delete_album_"~al[0]}} type =submit class="btn btn-danger btn-sm" role="button" value=Delete>
        <input type="hidden" name="op" value="delete">
        <input type="hidden" name="albumid" value={{al[0]}}>
        </form> 
      	{%endif%}

     	</div>
     {%endfor%}
     {%if edit%}
            <form method=post  action="{{url_for('albums.albums_edit_route')}}" method="POST" enctype=multipart/form-data>
          Album name:<br>
          <input id=album_add_name type="text" name="title" value="Mouse">
          <input type="hidden" name="op" value="add">
          <input type="hidden" name="username" value={{username}}>
          <br><br>
          <input  id=album_add_submit type="submit" class="btn btn-primary btn" role="button" value=Submit>
        </form> 
    {%endif%}
 </p>
 </div>
 <p>
    {% if edit %}
      <a id ={{"user_albums_"~username~" "}} href="{{url_for('albums.albums_route',username=username)}}" class="btn btn-success btn-lg" role="button">Back to Albums»</a>
      
     {% else %}
     <a id ={{"user_albums_edit_"~username~" "}} href="{{url_for('albums.albums_edit_route',username=username)}}" class="btn btn-warning btn-lg" role="button">Edit »</a>
    {% endif %}
	</p>    


</div>

</div>


{% endblock %}