{% extends "base.html" %}
{% block content %}
	 <div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Hello {{username}}</h1>
        <p>These are your albums {{username}}</p>
     <!--  <p><a href="search_the_folder.html" class="btn btn-primary btn-lg" role="button">Search the folder &raquo;</a></p> -->
     
      </div>
    <p class="important">
      Welcome!
    </p>

    {% if edit %}
        <div> This is only on the edit page </div>
    {% endif %}
</div>
{% endblock %}