{% extends "base.html" %}
{% block content %}

    <div class="container theme-showcase" role="main">
    <div class="jumbotron">

    <h1 class="thumbnail">ALBUM: {{ albumid }}</h1>
    <p class="important">
      Welcome!
    </p>

    {% if edit %}
        <div> This is only on the edit page </div>

        <!-- KC
        <p><a href="{{ url_for('album.pic_add',albumid=albumid) }}">ADD (Old Version)</a>
        -->

          <form method=post action="{{ url_for('album.album_edit_route',albumid=albumid) }}" method="POST" enctype=multipart/form-data>
          <input type=file name=file>
          <input type="hidden" name="op" value="add">
          <input type="hidden" name="albumid" value={{albumid}} >

          <input type=submit value=Upload>
          </form>

        </p>

        <p><a href="{{ url_for('album.album_route',albumid=albumid) }}">Back To Album</a></p>
    {% else %}
        <!-- <a href="{{ url_for('album.album_edit_route') }}">EDIT</a> -->
        <p><a href="{{ url_for('album.album_edit_route',albumid=albumid) }}">EDIT</a></p>
    {% endif %}


    <p>
    {% for picid in picid_lst %}
    
        {% if edit %}
          <img src="../static/images/{{ picid }}" alt="HTML5 Icon" width="128" height="128">

          <!-- KC
          <a href="{{ url_for('album.pic_delete',albumid=albumid,picid=picid.split('.')[0]) }}">Delete</a>
          -->

          <form action="{{ url_for('album.album_edit_route',albumid=albumid) }}" method="POST" enctype=multipart/form-data>
            <input type="hidden" name="op" value="delete">
            <input type="hidden" name="albumid" value={{albumid}} >
            <input type="hidden" name="picid" value={{ picid.split('.')[0] }} >
            <button name="subject" type="submit" >DELETE</button>
          </form>
        {% else %}
          <a href="{{ url_for('pic.pic_route',picid=picid.split('.')[0]) }}"><img src="../static/images/{{ picid }}" alt="HTML5 Icon" width="128" height="128"></a>
        {% endif %}
    
    {% endfor %}
    </p>

{% endblock %}